img.productomedias {
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}
img.productocalzado {
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}
img.productopelotas {
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}
img.productoconjuntos{
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}
img.productocamisetas {
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}
img.productopantalones{
width:100px;
height:90px;
float:left;
margin-bottom:5%;
margin-top:5%;
border: solid black;
}


table.torneo{
float:right;
border: solid black 3px;
width:340px;
height:250px;
border-bottom:none;
}
td{
text-align:center;
border-bottom: solid 3px black;
color: white;
font-weight:bold;
text-decoration: underline;
}
th{
border-bottom: solid 3px black;
color: #ffff66;

}
