#format {
    margin-top: 10px;
    width:100%;
    font-size:20px;
}

ul{
    color: yellow;    
}

body{

width: 1000px;
margin-left:auto;
margin-right:auto;
background: #2d2d2d url(../images/top_bg.jpg);


}
img.pelota {width:75px;height:75px;
float:right;
margin-bottom:10%;
margin-top:15%;
}

div.principal{

font-family: "arial";
}


div.left{

width:25%;

float:left;
min-height:400px;
overflow: hidden;


}
div.center{
width:50%;

float:left;
min-height:400px;
overflow: hidden;
}

label.error { float: none; color: #f7fa19; font-weight:bold; padding-left: .5em; vertical-align: top; font-size:10px; }
	.ui-progressbar-value { background-image: url(javascript/css/ui-lightness/images/progressbar_short.gif); }
        .vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
            float: none; color: #f7fa19; font-weight:bold; padding-left: .5em; vertical-align: top; font-size:10px; 
        }

div.right{
width:25%;

float:right;
min-height:510px;
overflow: hidden;

}
div.pie{

width:100%;
height:50%;
text-align:center;

clear:both;
border-top:3px solid white;
}

div.logo{
width: 100%;
float:left;
height:160px;


}

div.calendario{
float:left;
width:15%;
margin:auto;
}

div.pelota{
width: 17%;
float:left;

}
div.menu{

color:black;
text-align:center;
width: 77%;
margin: auto;
font-size:30px;
}

div.titulo{
text-align: center;
float:left;
/*background: red;*/
width: 68%;


}

div.contenido0{

color:white;
text-align:center;
width: auto;
font-size: 25px;

}

div.contenido1{
color:white;
text-align:center;
width: 83%;
margin: auto;
font-size: 15px;

}
div.contenido2{
margin-top:10px;
width: 60%;
margin: auto;
color:black;
text-align:left;
}
div.contenido3{
margin-top:10px;
color:black;
text-align:center;
}

div.cuadro1 {
	width: auto;
	border: 2px dashed black ; /*  "nro" px solid dashed  dotted "color" */
	text-align: center;
	
}

div.cuadro2 {
	color: yellow;
	font-size: 16px;
	width: auto;
	border: 2px dotted black ; /*  "nro" px (solid, dashed, dotted, double, groove ridge, inset, outset) "color" */	
}

div.cuadro3 {
	margin-top: 5px;
	margin-right: 10px;
	width: auto;
	border: 10px ridge gray ; /*  "nro" px (solid, dashed, dotted, double, groove ridge, inset, outset) "color" */
	text-align: left;
	
}

table.TablaMenu{

border: dashed white 3px;
width:200px;
height:500px;
border-bottom: none;
}

td.TablaMenu{
text-align:center;
border-bottom: dashed 3px white;
color: white;
font-weight:bold;
text-decoration: underline;
}
th.TablaMenu{
border-bottom: dashed 3px white;
color: yellow;

text-align:center;

}


h1{
font-family:"algerian";
font-style:italic;
font-size:50px;
color:white;
}

h2{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 20px;
	color: White;
	text-align:center;
	font-family : Comic Sans MS;

}
a{

color: white;
}

a:visited {
text-decoration: none;
color: #ffff66;
}
a:hover {
text-decoration: none;
color: #ffcc66;
}
a:active {
text-decoration: none;
color: #cc9933;
}
img.propaganda {width:200px;height:150px;
float:right;
margin-bottom:3%;
margin-top:3%;
border:solid black;

}

form.formulario{
/*background:#2d2d2d url();*/
 }


